/* ProductList.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Navbar */
.navbar {
  background-color: #4caf50;
  color: #fff !important;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.tag {
  display: flex;
  align-items: center;
}

.tag img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.ul {
  display: flex;
  gap: 30px;
  padding-right: 40px;
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
}

/* Product Grid */
.product-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* Product Card */
.product-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2rem;
}

.product-description {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 10px;
  height: 40px;
}

.product-cost {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

/* Button Styling */
.product-button {
  background-color: #4caf50; /* Green theme */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.product-button:hover {
  background-color: #45a049;
}

.product-button.added-to-cart {
  background-color: grey;
  cursor: not-allowed;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .ul {
    padding-right: 0;
    gap: 15px;
  }
}
